body{
    background-color: #DFD3C3;
    background-position: center;
    background-size: cover;
}


.logo
{
    color: #F8EDE3;
    background-color: #7D6E83;
    padding-left: 10px;
    margin: auto;
    size: 200px;
    font-family: 'serif';
    background-size: 80px;
}
.gambar{
   display: flex;
   margin: 10px;
   float: left;
   margin-top: 20px;
   margin-bottom: 10px;
   margin-left: 5px;
   margin-right: 40px;   
}
.deskripsi{
    color: #7D6E83;
    margin-top: 200px;
    margin-bottom: 10px;
    font-size: 40;
    font-family: 'Times New Roman';
    
   
}
.deskripsi2{
    color: #7D6E83;
    font-size: 40;
    margin-top: 6cm;
    font-family: 'Times New Roman';
  
}
.deskripsi3{
    color: #7D6E83;
    font-size: 40;
    margin-top: 20px;
    margin-left: auto;
    font-family: 'Times New Roman';
  
}
.deskripsi4{
    color: #7D6E83;
    font-size: 40;
    margin-top: 20px;
    margin-left: auto;
    font-family: 'Times New Roman';
  
}

.list{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #7D6E83;
    font-size: 20px;
    display: list-item;
    margin-left: auto;
    font-family: 'Times New Roman';
}

.button1{
    background-color: #7D6E83;
    border: none;
    color: #F8EDE3;
    padding: 15px 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;

    
}
.button2{
    background-color: #7D6E83;
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
/* html_element css */}

.gambar2{
    padding: 5px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 40px;   
 }
 .deskripsihtml{
    color: #7D6E83;
    padding: 5px;
    margin-top: 10px;
    font-size: 40;
    font-family: 'Times New Roman';}

    .logo1
    {
        color: #F8EDE3;
        background-color: #7D6E83;
        padding: 10px;
        text-align: center;
        margin: 5px;
        font-family: 'serif';
        background-size: 80px;
        display: inline-block
    }
    table{ 
        color: #F8EDE3;
        background-color: #7D6E83;
        padding: 5px;
        margin-top: 10px;
        border-width: 2px;
        border-color: #F8EDE3;
        text-decoration-color: #F8EDE3;
        text-align: center;

    }

    {/* latihan bersama */.}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: inline-block;
        padding: 8px;
        background-color: #7D6E83;
        text-decoration: none;
        font-family: 'Segoe UI';
        text-decoration-color: #F8EDE3;
        color: #F8EDE3;
      }

      <style>
        .nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        .nav li {
            float: left;
        }

        .nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .nav li a:hover {
            background-color: #111;
        }
    </style>